.groups
  = link_to "/groups/2817/messages" do
    .group
      %p.group__group-name test01
      %p.group__latest-message てすと01
  = link_to "/groups/2818/messages" do
    .group
      %p.group__group-name test02
      %p.group__latest-message てすと02
  = link_to "/groups/2819/messages" do
    .group
      %p.group__group-name test03
      %p.group__latest-message まだメッセージがありません
