$chatside-color: #FFFFFF;
$chatmain-01: #333333;
$chatmain-02: #999999;
$chatmain-03: #434A54;
$chatmain-background: #fafafa;
$chatmain-border: #eeeeee;
$chatmain-submitbtn: #38AEF0;
$chatside-sideheader-background: #253141;
$chatside-groups-background: #2f3e51;
